section.page-header.splash
  .row
    //-img.small-3.columns.kelly-square(src=assetPath + '/img/kelly-light.jpg')
    img.small-3.columns.kelly-square(src='https://s.gravatar.com/avatar/f7c867f7944dbbb7668a7585748406f2?s=210')
    .small-9.columns.kelly-name-title
      h1 Kelly Becker-Neuding
      h5 Dreamer and Achiever
      h5 @ Apple
