section.page-header.social
  .row
    .small-8.columns.collapse
      .small-4.columns.kelly-photo
        //-img(src=assetPath + '/img/kelly-light.jpg')
        img(src='https://s.gravatar.com/avatar/f7c867f7944dbbb7668a7585748406f2?s=160')
      .small-8.columns.kelly-name-title
        h1 Kelly Becker-Neuding
        h5 Generalist Full-Stack Software Engineer
        h5 Development Oriented Operations Engineer
        h5 Service Oriented Software/Operations Architect
    .small-4.columns.kelly-networking
      .info
        .name
          | Address
        .value
          | 45 Mayfield Ave.
          br
          | Daly City, CA 94015
      .info
        .name
          | Email
        .value
          | kbecker@kellybecker.me
      .info
        .name
          | Cell Phone
        .value
          | (415) 871 - 3657
      .info
        .name
          | Website
        .value
          | http://kellybecker.me
      .info
        .name
          | Blog
        .value
          | http://objectiveoriented.com
      .info
        .name
          | GitHub
        .value
          | http://github.com/KellyLSB
      .info
        .name
          | LinkedIn
        .value
          | http://rain.kellybecker.me/6l4w
      .info
        .name
          | Launchpad
        .value
          | http://launchpad.net/~kellylsb
