mixin section-list(list)
  if list['type'] == 'experience'
    ul.section-list
      each item in list['items']
        +section-list-experience(item)

  if list['type'] == 'panels'
    .row
      each item in list['items']
        +section-list-panel(item)
