mixin section-list-item-panel(item)

  - var panel_class = [item['title'].anchorname()]
  - if(item['cloud']) { panel_class.unshift('cloud') }
  - if(item['type']) { panel_class.unshift(item.type.anchorname()) }
  - if(item['class']) { panel_class.unshift(item.class.anchorname()) }

  .panel.float-right(class=panel_class.unique())
    h4= item.title

    if item['cloud']
      each c, n in item.cloud
        span(class=c)= n

    if item['body']
      != item.body.markdown()
