mixin section-list-item-panel(item, float_right)

  - var panel_class = [item['title'].anchorname()]
  - if(item['cloud']) { panel_class.unshift('cloud') }
  - if(item['type']) { panel_class.unshift(item.type.anchorname()) }
  - if(item['class']) { panel_class.unshift(item.class) }
  - if(float_right) { panel_class.unshift('float-right') }

  .panel(class=panel_class.unique())&attributes(attributes)
    h4= item.title

    if block
      block
    else
      if item['cloud']
        each c, n in item.cloud
          span(class=c)= n

      if item['body']
        != item.body.markdown()
