mixin page-lexicon(section)
  - list = section['list']

  .row
    .small-6.columns
      if list
        +section-list-item-panel(section)
          each item in list['items']
            if item['type'] == 'Work Experience'

              - var li_class = [item.title.anchorname()]
              - if(item['type']) { li_class.unshift(item.type.anchorname()) }
              - if(item['class']) {       li_class.unshift(item.class.anchorname()) }
              
              .
                span= item.title
                if item['duration'] && item.duration['year']
                  span.year= '(' + item.duration.year + ')'

            if item['cloud']
              each c, n in item['cloud']
                span(class=c)= n

            if item['body']
              != item.body.markdown()
