@media print {
  blockquote {

    // Element Style
    font-weight: 500;
    font-style: italic;
    border: none !important;


    &:before {
      content: open-quote;
    }

    
    &:after {
      content: open-quote;
    }
  }
}
