body {
  & > section.page-header {

    // Display Blocking
    margin: 25px auto;
    display: block;

    // Text Styles
    @include text-shadow(
      rgba(#CCC, 0.6) 2px 2px 0
    );

    div.kelly-name-title {
      &, & > h1, & > h5 {
        @extend .ubuntu.light;
      }
    }
  }

  &.splash > section.page-header {

    // Display Blocking
    margin: 50px auto;

    img.kelly-square {

      // Display Blocking

      border: solid 1px #EEE;
      padding: 0px 0px;

      // Css3 Transforms
      @include border-radius(10%, 10%);

      @include box-shadow(
        rgba(black, 0.2) 0px 0px 0 2px,
        rgba(violet, 0.4) 0px 0px 0 4px,
        rgba(black, 0.05) 0px 0px 0 6px
      );
    }

    div.kelly-name-title {

      // Display Blocking
      padding-left: 30px;

      // New Sizing
      & > h1 {
        line-height: 4rem;
        font-size: 3.5rem;
      }

      & > h5 {
        font-size: 1.5rem;
      }
    }
  }

  &.resume > section.page-header {
    div.collapse {
      padding: 0px;
    }

    div.kelly-photo > img {

      // Display Blocking
      @include box-shadow(
        rgba(#CCC, 0.5) 0px 0px 0 2px
      );
      border: solid 1px #EEE;
    }

    div.kelly-name-title {
      & > h1 {

        // Display Blocking
        margin: 0px auto 13px;

        // Text Styles
        font-size: 2.2rem;
        line-height: 3.75rem;
      }

      & > h5 {

        // Display Blocking
        margin: 0px;

        // Text Styles
        font-size: 0.968rem;
      }

      // Print Styles
      @media print {
        & > h1 {

          // Text Styles
          font-size: 1.8rem;
          line-height: 3.1rem;
        }

        & > h5 {

          // Text Styles
          font-size: 0.81rem;
        }
      }
    }

    div.kelly-networking {

      // Display Blocking
      padding-top: 2px;

      & > .info {
        @include grid-row($behavior: nest-collapse);

        // Display Blocking
        border-bottom: dashed 1px #EEE;
        padding: 2px 3px;

        &:first-child {

          // Display Blocking
          padding-top: 0px;
        }

        &:last-child {

          // Display Blocking
          border: none;
          padding-bottom: 0px;
        }

        & > * {

          // Text Styles
          font-size: 0.7rem;
        }

        & > .name {
          @extend .ubuntu.medium;
          @include grid-column(3);

          // Display Blocking
          padding-right: 4px;
          padding-left: 0px;

          // Text Styles
          text-align: right;
        }

        & > .value {
          @extend .ubuntu.light;
          @include grid-column(9);

          // Text Styles
          text-align: left;
        }
      }
    }
  }

  // Print Styles
  @media print {
    & {

      // Display Blocking
      margin: 0px auto;
    }
  }
}
