.work-experience ol {
  list-style-type: none;
  margin-left: 0px;
  margin-top: -15px;

  li {
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
    clear:both;

    &:first-child {
      border-top: 0px;
    }

    &.low.priority {
      display: none;
    }

    h4 {
      @extend .ubuntu.light;
      border-bottom: solid 1px #BBB;
      margin-bottom: 25px;
      line-height: 13px;
      margin-top: 52px;
      display: block;

      span.year {
        @extend .ubuntu.normal;
        float: right;
      }
    }

    div {
      margin: 10px inherit;
      text-align: right;
      display: block;

      span.heading {
        @extend .ubuntu.medium;
        margin-right: 10px;
        float: left;
      }

      span {
        display: block;
      }

      &.panel.right-box {
        background: #FFF !important;
        margin-left: 45px;
        margin-top: 10px;
        width: 45%;

        h4 {
          border-bottom: dashed 1px #CCC;
          text-align: right;
        }
      }

      &.paragraphs {
        text-align: left;

        .heading {
          border-top: dashed 1px #DDD;
          padding-top: 10px;
          margin-bottom: 10px;
          float: none;
        }

        ul, ol {
          li {
            border: none;
            padding: 0px;
          }
        }
      }

      &.cloud {
        margin: 10px -5px;
        text-align: justify;
        align-items: flex-start;

        span {
          padding: 0px 5px;

          &.heading {
            margin-bottom: 10px;
            text-align: left;
            float: none;
          }

          &:not(.heading) {
            @extend .ubuntu.light;
            white-space: nowrap;
            line-height: 30px;

            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;

            // Usage ratings
            &.used-0 {
              @extend .ubuntu.light;
              font-size: 0.78em;
              color: red;
            }

            &.used-1 {
              @extend .ubuntu.light;
              font-size: 0.95em;
              color: grey;
            }

            &.used-2 {
              @extend .ubuntu.normal;
            }

            &.used-3 {
              @extend .ubuntu.medium;
              font-size: 1em;
              color: blue;
            }

            &.owned, &.used-4 {
              @extend .ubuntu.bold;
              font-size: 1.2em;
              color: violet;
            }
          }
        }
      }
    }
  }
}
