.cloud,
.technologies {

  // Element Style
  margin: 10px -5px;
  text-align: justify;
  align-items: flex-start;


  // Print Style
  @media print {
    @extend .page-section.avoid-internal-page-break;
  }


  // Child Elements
  span, a {

    // Element Style
    display: block;
    padding: 0px 5px;


    // Alternate Style
    &.heading {

      // Element Style
      @extend .ubuntu.medium;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: left;
      float: none;
    }


    &:not(.heading) {

      // Element Style
      @extend .ubuntu.light;
      white-space: nowrap;
      line-height: 30px;


      // Remove Justification
      vertical-align: top;
      display: inline-block;
      *display: inline;
      zoom: 1;


      // Alternate Style
      &.used-0,
      &.rank-0,
      &.rank-00 {
        @extend .ubuntu.light;
        font-size: 0.78em;
        color: red;
      }

      &.used-1,
      &.rank-25 {
        @extend .ubuntu.light;
        font-size: 0.95em;
        color: grey;
      }

      &.used-2,
      &.rank-50 {
        @extend .ubuntu.normal;
      }

      &.used-3,
      &.rank-75 {
        @extend .ubuntu.medium;
        font-size: 1em;
        color: blue;
      }

      &.owned,
      &.used-4,
      &.rank-99 {
        @extend .ubuntu.bold;
        font-size: 1.2em;
        color: violet;
      }
    }
  }
}

.page-section.lexicon .panel.cloud {
  margin: 10px 0px !important;
}
