- pageData.helpers.initStringExtensions.apply(this)

extend includes/layout.jade

block pageTitle
  | Hyperactive Prodigy and Philosopher

block pageContent
  section.page-section.buttons
    .row
      a.small-6.columns.button(href='http://objectiveoriented.com') ObjectiveOriented.com
      a.small-6.columns.button(href='http://skyviewstudios.com') Skyview Studios
      a.small-6.columns.button(href='http://github.com/KellyLSB') My GitHub
      a.small-6.columns.button(href='http://rain.kellybecker.me/6l4w') My LinkedIn
      a.small-6.columns.button(href='2012') 2012 Site
      a.small-6.columns.button(href='2013') 2013 Site
a.small-12.columns.button(href='http://rain.kellybecker.me/FMYZ/1DhTUMvI', target='_blank') View My Resume (PDF)
