- pageData.helpers.initStringExtensions.apply(this)

extend includes/layout.jade

block pageTitle
  | Unicorn Wrangler

block pageContent
  section.page-section.buttons
    .row
      a.small-6.columns.button(href='http://objectiveoriented.com') ObjectiveOriented.com
      a.small-6.columns.button(href='resume.html') My Resume
      a.small-6.columns.button(href='http://github.com/KellyLSB') My GitHub
      a.small-6.columns.button(href='http://rain.kellybecker.me/6l4w') My LinkedIn
