//- Include Layout Template
extend includes/layout

//- Include Mixins
include includes/mixins/*

block pageTitle
  | Software Engineer


block pageHeader
  include includes/header_social.jade


block pageContent
  if pageData.format == 'lexicon'
    +page-section('Lexicon')(class='lexicon')
      h3 Resume Lexicon

      .row
      
        each section in pageData.sections
          +page-lexicon(section)
  else
    each section in pageData.sections
      +page-section(section.title)(class=section.class)
        h3= section.title

        //- Section List
        if section['list']
          +section-list(section.list)

        //- Render Body as Markdown
        if section['body']
          != section.body.markdown()
