//- Include Layout Template
extend includes/layout

//- Include Mixins
include includes/mixins/*


block pageTitle
  | Software Engineer


block pageHeader
  include includes/header_social.jade


block pageContent
  if config.format == 'lexicon'
    +page-section("Resume Lexicon")(class='lexicon')
      h3= title
      .row
        each section in sections
          +section-list-lexicon(section)

  else
    each section in sections
      +page-section(section.title)(class=section.class)
        h3= section.title

        if section['list']
          +section-list(section.list)

        if section['body']
          != section.body.markdown()
